body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.pointer{
  cursor: pointer;
}

.hoverable:hover{
  border: 5px solid rgb(39, 74, 170);
  background: rgba(0, 0, 0, 0.064);
  color: gold;
  transition: all .1s linear;
}
a{
  text-decoration: none;
  /* font-style: none; */
}